@model UPTax.Model.Models.UnionDetails.UnionParishad

@{
    ViewBag.Title = "সংরক্ষণ";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-title-box">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-8">
                <h4 class="page-title mb-1">ইউনিয়ন পরিষদ</h4>
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index")">অপারেট ইউনিয়ন পরিষদ</a></li>
                    <li class="breadcrumb-item active">ইউনিয়ন যোগ করুন</li>
                </ol>
            </div>
        </div>

    </div>
</div>

<div class="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="float-right ml-2">
                            <a class="btn btn-sm btn-warning btn-flat margin" href="@Url.Action("Index")">তালিকা দেখুন</a>
                        </div>
                        <h4 class="header-title">ইউনিয়ন সংরক্ষণ ফরম</h4>
                        <p class="card-title-desc"></p>
                        @using (Html.BeginForm("Create", "UnionParishad", FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate", @autocomplete = "off", @enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom03">@Html.DisplayNameFor(model => model.Name)</label>
                                    @Html.TextBoxFor(m => m.Name, new { @id = "validationCustom03", @class = "form-control bangla", @placeholder = "ইউনিয়নের নাম", @maxLength = "250", @required = "required" })
                                    <div class="invalid-feedback">
                                        নাম দেয়া বাধ্যতামূলক!
                                    </div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom03">@Html.DisplayNameFor(model => model.PhoneNo)</label>
                                    @Html.TextBoxFor(m => m.PhoneNo, new { @id = "validationCustom03", @class = "form-control bangla", @placeholder = "মোবাইল নাম্বার", @maxLength = "14", @required = "required" })
                                    <div class="invalid-feedback">
                                        মোবাইল নাম্বার বাধ্যতামূলক!
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom03">@Html.DisplayNameFor(model => model.Email)</label>
                                    @Html.TextBoxFor(m => m.Email, new { @id = "validationCustom03", @class = "form-control", @placeholder = "মেইল এড্রেস", @maxLength = "150" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8 mb-3">
                                    <label for="validationCustom03">@Html.DisplayNameFor(model => model.Description)</label>
                                    @Html.TextAreaFor(m => m.Description, new { @id = "validationCustom03", @class = "form-control bangla", @placeholder = "ইউনিয়নের বর্ণনা", @maxLength = "350", @cols = "3", @rows = "5" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="validationCustom03">ইউনিয়নের ছবি</label>
                                    <input type="file" name="file" id="imgInp" value="" class="form-control" accept="image/x-png,image/gif,image/jpeg" />
                                    <div class="invalid-feedback">
                                        Please select an image!
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <img style="max-width:100%; max-height: 100%" id="blah" src="#" alt="your image" />
                                </div>
                            </div>
                            <button class="btn btn-primary" type="submit">সংরক্ষণ করুন</button>

                        }
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

    </div> <!-- container-fluid -->
</div>

@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $("#imgInp").change(function () {
                readURL(this);
            });

            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#blah').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }
        });
    </script>


}
