@model PagedList.IPagedList<UPTax.Model.ViewModels.VMUserInfo>
@using PagedList.Mvc;
@{
    ViewBag.Title = "User List";

    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
    else
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    int dataSize = 10;

    if (ViewBag.size != null)
    {
        dataSize = ViewBag.dataSize;
    };
    int pageNo = 1;
    if (ViewBag.page != null)
    {
        pageNo = ViewBag.pageNo;
    };
    int rowNo = dataSize * pageNo;
    rowNo = rowNo - dataSize;
}

<div class="page-title-box">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-8">
                <h4 class="page-title mb-1">ইউজার</h4>
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item active">অপারেট করুন</li>
                </ol>
            </div>
        </div>

    </div>
</div>

<div class="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="float-right ml-2">
                            <a class="btn btn-sm btn-info btn-flat margin" href="@Url.Action("Create","User")">ইউজার যোগ করুন</a>
                        </div>
                        <h5 class="header-title mb-4">ইউজার তালিকা</h5>

                        <div class="table-responsive">
                            <table id="datatable" class="table table-bordered dt-responsive nowrap table-hover" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>নাম</th>
                                        <th>ইউজারনেম</th>
                                        <th>রোল নেম</th>
                                        <th>স্ট্যাটাস</th>
                                        <th>অপারেশন</th>
                                    </tr>
                                </thead>

                                <tbody>

                                    @if (Model != null)
                                    {
                                        foreach (var item in Model.Select((x, i) => new { Data = x, Index = i }))
                                        {
                                            rowNo++;
                                            <tr>
                                                <td>@rowNo</td>
                                                <td class="">@item.Data.FullName</td>
                                                <td class="">@item.Data.UserName</td>
                                                <td class="">@item.Data.RoleName</td>
                                                <td class="">
                                                    @*@(item.Data.Status ? "এক্টিভ" : "ইন্যাক্টিভ")*@
                                                    @if (item.Data.Status)
                                                    {
                                                        <span style="color:green">এক্টিভ</span>
                                                    }
                                                    else
                                                    {
                                                        <span style="color:red">ইন্যাক্টিভ</span>
                                                    }
                                                </td>
                                                <td>
                                                    <a class="btn btn-outline-secondary btn-sm" href="@Url.Action("Edit", new { id = item.Data.UserId })" toggle="tooltip" data-placement="top" title="হালনাগাদ">
                                                        <i class="mdi mdi-pencil"></i>
                                                    </a>
                                                    <a class="btn btn-outline-secondary btn-sm deleteItem" toggle="tooltip" data-placement="top" title="Delete" onclick="" deleteTag="@Url.Action("Delete","Roles")/@item.Data.UserId">

                                                        <i class="mdi mdi-trash-can"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

    </div> <!-- container-fluid -->
</div>
<!-- /.box -->


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        $(document).ready(function () {


        });

        $(function () {
            //$('#example1').DataTable();
            $('#example1').DataTable({
                'paging': false,
                'lengthChange': false,
                'searching': false,
                'ordering': false,
                'info': false,
                'autoWidth': false
            });
        });
    </script>



}

