@{
    ViewBag.Title = "Index";
    var title = "গ্রাম ভিত্তিক বকেয়ার তালিকা";
}

<div class="page-title-box">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-8">
                <h4 class="page-title mb-1">@title</h4>
            </div>
        </div>
    </div>
</div>

<div class="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        @using (Html.BeginForm("Index", "VillageWiseDue", FormMethod.Post, new { @class = "form-horizontal", role = "form", @autocomplete = "off" }))
                        {
                            @Html.AntiForgeryToken()
                            <div style="color:red; font-weight:bold">
                                @Html.Raw(Html.ValidationSummary(false).ToHtmlString())
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    <label for="validationCustom03">ওয়ার্ড<span style="color: red">*</span> </label>
                                    @Html.DropDownList("WardId", null, "--ওয়ার্ড নির্বাচন করুন--", new { @class = "form-control", @id = "wardId", @required = "required" })
                                    <div class="invalid-feedback">
                                        ওয়ার্ড দেয়া বাধ্যতামূলক!
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    <label for="validationCustom03">গ্রাম<span style="color: red">*</span> </label>
                                    @Html.DropDownList("VillageId", null, "--গ্রাম নির্বাচন করুন--", new { @class = "form-control", @id = "villageId", @required = "required" })
                                    <div class="invalid-feedback">
                                        গ্রাম দেয়া বাধ্যতামূলক!
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    <label for="validationCustom03">প্রতিষ্ঠানের ধরন<span style="color: red">*</span> </label>
                                    @Html.DropDownList("InfrastructureType", null, "--প্রতিষ্ঠানের ধরন নির্বাচন করুন--", new { @class = "form-control", @id = "infrastructureType", @required = "required" })
                                    <div class="invalid-feedback">
                                        প্রতিষ্ঠানের ধরন দেয়া বাধ্যতামূলক!
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    <label for="validationCustom03">অর্থ বছর<span style="color: red">*</span> </label>
                                    @Html.DropDownList("FinancialYearId", null, "--অর্থ বছর নির্বাচন করুন--", new { @class = "form-control", @id = "financialYearId", @required = "required" })
                                    <div class="invalid-feedback">
                                        অর্থ বছর দেয়া বাধ্যতামূলক!
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="mt-4">
                                        <button class="btn btn-success btn-block waves-effect waves-light" type="submit">প্রিন্ট করুন</button>
                                    </div>
                                </div>


                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>