@model UPTax.Model.Models.InstituteInfo
@{
    ViewBag.Title = "সংরক্ষণ";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var title = "কলেজ / অফিসের তথ্য";
    var nameOfTitle = "কলেজ / অফিসের নাম";
    string dateFormat = UPTax.Helper.RapidSession.DateTimeFormat;

}
<style>
    div.inline .form-control {
        display: inline;
    }
</style>
<div class="page-title-box">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-8">
                <h4 class="page-title mb-1">@title</h4>
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index")">অপারেট @title</a></li>
                    <li class="breadcrumb-item active">@title যোগ করুন</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="float-right ml-2">
                            <a class="btn btn-sm btn-warning btn-flat margin" href="@Url.Action("Index")">তালিকা দেখুন</a>
                        </div>
                        <h4 class="header-title">@title সংরক্ষণ ফরম</h4>
                        <p class="card-title-desc"></p>
                        @using (Html.BeginForm("Create", "Institute", FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate", @autocomplete = "off", @enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom03">@Html.DisplayNameFor(model => model.WardInfoId) <span class="required"></span></label>
                                    @Html.DropDownList("WardInfoId", null, String.Empty, new { @class = "selectize validationCustom03" })
                                    <div class="invalid-feedback">
                                        ওয়ার্ড দেয়া বাধ্যতামূলক!
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="VillageInfoId">@Html.DisplayNameFor(model => model.VillageInfoId) <span class="required"></span></label>
                                    @Html.DropDownList("VillageInfoId", null, "---গ্রাম---", new
                                       {
                                           @class = "default form-control",
                                           style = "",
                                           @id = "VillageInfoId"
                                       })
                                    <div class="invalid-feedback">
                                        গ্রাম দেয়া বাধ্যতামূলক!
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom03">@Html.DisplayNameFor(model => model.HoldingNo) <span class="required"></span></label>
                                    @Html.TextBoxFor(m => m.HoldingNo, new { @id = "validationCustom03", @class = "form-control", @placeholder = "হোল্ডিং নং", @maxLength = "250", @required = "required" })
                                    <div class="invalid-feedback">
                                        হোল্ডিং নং দেয়া বাধ্যতামূলক!
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom03">@Html.DisplayNameFor(model => model.YearlyIncome) <span class="required"></span></label>
                                    @Html.TextBoxFor(m => m.YearlyIncome, new { @id = "validationCustom03", @class = "form-control bangla", type = "number", @placeholder = "বাৎসরিক গড় আয়", @required = "required" })
                                    <div class="invalid-feedback">
                                        বাৎসরিক গড় আয় দেয়া বাধ্যতামূলক!
                                    </div>
                                </div>


                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom03">@Html.DisplayNameFor(model => model.NameOfInstituteBangla) <span class="required"></span></label>
                                    @Html.TextBoxFor(m => m.NameOfInstituteBangla, new { @id = "validationCustom03", @class = "form-control bangla", @placeholder = "নাম (বাংলা)", @maxLength = "250", @required = "required" })
                                    <div class="invalid-feedback">
                                        প্রতিষ্ঠানের নাম দেয়া বাধ্যতামূলক!
                                    </div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom03">@Html.DisplayNameFor(model => model.NameOfInstituteEnglish) <span class="required"></span></label>
                                    @Html.TextBoxFor(m => m.NameOfInstituteEnglish, new { @id = "validationCustom03", @class = "form-control", @placeholder = "নাম (ইংরেজিতে)", @maxLength = "250", @required = "required" })
                                    <div class="invalid-feedback">
                                        প্রতিষ্ঠানের নাম (ইংরেজিতে) দেয়া বাধ্যতামূলক!
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom03">@Html.DisplayNameFor(model => model.MobileNo) <span class="required"></span></label>
                                    @Html.TextBoxFor(m => m.MobileNo, new { @id = "validationCustom03", @class = "form-control bangla", type = "number", @placeholder = "মোবাইল নাম্বার", @required = "required" })
                                    <div class="invalid-feedback">
                                        মোবাইল নাম্বার দেয়া বাধ্যতামূলক!
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom03">@Html.DisplayNameFor(model => model.DateOfEstablishment) <span class="required"></span></label>
                                    @if (Model != null)
                                    {
                                        @Html.TextBoxFor(model => model.DateOfEstablishment, Model.DateOfEstablishment.ToString(dateFormat), new { @class = "datepickerUI form-control", @id = "", @type = "text", @required = "required", @data_range = "false" })
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(model => model.DateOfEstablishment, "", new { @class = "datepickerUI form-control", @id = "", @type = "text", @required = "required", @data_range = "false" })
                                    }
                                    <div class="invalid-feedback">
                                        প্রতিষ্ঠানের তারিখ দেয়া বাধ্যতামূলক!
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom03">@Html.DisplayNameFor(model => model.IsTubeWell) <span class="required"></span></label><br />
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="IsTubeWell" id="inlineRadioIsTubeWellYes" value="true" checked>
                                        <label class="form-check-label" for="inlineRadioIsTubeWellYes">হ্যাঁ</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="IsTubeWell" id="inlineRadioIsTubeWellNo" value="false">
                                        <label class="form-check-label" for="inlineRadioIsTubeWellNo">না</label>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom03">@Html.DisplayNameFor(model => model.Sanitary) <span class="required"></span></label><br />
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="Sanitary" id="inlineRadioYesBuilding" value="পাকা পায়খানা">
                                        <label class="form-check-label" for="inlineRadioYesBuilding">পাকা পায়খানা</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="Sanitary" id="inlineRadioSanitaryYes" value="কাঁচা পায়খানা" checked>
                                        <label class="form-check-label" for="inlineRadioSanitaryYes">কাঁচা পায়খানা</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="Sanitary" id="inlineRadioSanitaryNo" value="নাই">
                                        <label class="form-check-label" for="inlineRadioSanitaryNo">নাই</label>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    @Html.LabelFor(a => a.InstituteType, new { @class = "" })
                                    @Html.TextBoxFor(m => m.InstituteType, new { @class = "form-control", @placeholder = "প্রতিষ্ঠানের ধরণ", @maxLength = "250" })
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom03">@Html.DisplayNameFor(model => model.LivingType)</label><br />
                                    @Html.DropDownList("LivingType", null, String.Empty, new { @class = "selectize" })
                                    <div class="invalid-feedback">
                                        বসবাসের ধরণ দেয়া বাধ্যতামূলক!
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3 inline">
                                    <label for="validationCustom03" class="col-md-12">অবকাঠামো ধরণ<span class="required"></span></label>
                                    @Html.TextBoxFor(m => m.TotalBuildingHouse, new { @class = "form-control col-md-4 mb-1", type = "number", @placeholder = "পাকা ঘর" })
                                    @Html.TextBoxFor(m => m.TotalSemiBuildingHouse, new { @class = "form-control col-md-4 mb-1", type = "number", @placeholder = "আধা-পাকা ঘর" })
                                    @Html.TextBoxFor(m => m.TotalRawHouse, new { @class = "form-control col-md-3 mb-1", type = "number", @placeholder = "কাঁচা ঘর" })
                                </div>
                                <div class="col-md-4 mb-3">
                                    @Html.LabelFor(model => model.YearlyRentAmount)
                                    @Html.HiddenFor(a => a.YearlyRentAmount)
                                    @Html.TextBox("YearlyRentAmountDisplay", "", new { @class = "form-control", @placeholder = "বাৎসরিক ভাড়া", disabled = "disabled", @readonly = "readonly" })
                                    <div class="invalid-feedback">
                                        বাৎসরিক ভাড়া দেয়া বাধ্যতামূলক!
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    @Html.LabelFor(model => model.YearlyInterestRate)
                                    @Html.HiddenFor(a => a.YearlyInterestRate)
                                    @Html.TextBox("YearlyInterestDisplay", "", new { @class = "form-control", @placeholder = "ঋনের বার্ষিক সুদ", disabled = "disabled", @readonly = "readonly" })
                                    <div class="invalid-feedback">
                                        ঋনের বার্ষিক সুদ দেয়া বাধ্যতামূলক!
                                    </div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom03">@Html.DisplayNameFor(model => model.PreviousDueAmount)</label>
                                    @Html.TextBoxFor(m => m.PreviousDueAmount, new { @id = "validationCustom03", @class = "form-control", type = "number", @placeholder = "পূর্বের বকেয়া" })
                                    <div class="invalid-feedback">
                                        পূর্বের বকেয়া দেয়া বাধ্যতামূলক!
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary" type="submit">সংরক্ষণ করুন</button>
                        }
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

    </div> <!-- container-fluid -->
</div>

@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $("#WardInfoId").change(function () {
                GetVillageDropdown();
            });

            function GetVillageDropdown() {
                var wardId = $("#WardInfoId").val();
                $("#VillageInfoId").empty();

                  $.ajax({
                        url: '@Url.Action("GetVillage", "VillageInfo")',
                        dataType: "json",
                        type: "GET",
                        cache: false,
                        data: { wardId},
                      success: function (data) {

                            debugger;
                            data.forEach(function (item) {
                                $('#VillageInfoId').append(new Option(item.Name, item.Id));
                            });
                        },
                        error: function (xhr) {
                            alert(xhr.responseText);
                        }
                 });
            }


            $("#TotalBuildingHouse").blur(function () {
                GetRentInterestRate();
            });
            $("#TotalSemiBuildingHouse").blur(function () {
                GetRentInterestRate();
            });
            $("#TotalRawHouse").blur(function () {
                GetRentInterestRate();
            });
            function GetRentInterestRate() {
                var building = $("#TotalBuildingHouse").val();
                var semiBuilding = $("#TotalSemiBuildingHouse").val();
                var rawHouse = $("#TotalRawHouse").val();

                  $.ajax({
                        url: '@Url.Action("Rent_Interest", "InfraStructuralType")',
                        dataType: "json",
                        type: "GET",
                        cache: false,
                        data: { building, semiBuilding, rawHouse},
                        success: function (data) {
                            $("#YearlyRentAmount").val(data.rent);
                            $("#YearlyRentAmountDisplay").val(data.rent);

                            $("#YearlyInterestRate").val(data.rate);
                            $("#YearlyInterestDisplay").val(data.rate);
                        },
                        error: function (xhr) {
                            alert(xhr.responseText);
                        }
                 });
            }
        });
    </script>
}
