@model UPTax.Model.ViewModels.VMMenuPermission
@{
    Layout = null;
}
<style type="text/css">
    .txtAlign {
        text-align: center;
    }

    .chkPermission {
        font-size: 20px;
    }
</style>

<div class="form-group">
    <table class="table table-bordered" style="border-radius:5px;">
        <thead>
            <tr class="headings">
                <th>
                    #
                </th>
                <th class="txtAlign">
                    Features
                </th>
                <th class="txtAlign">
                    Is View Permitted
                    <input type="checkbox" id="chkViewAll" />
                </th>
                <th class="txtAlign">
                    Is Add Permitted
                    <input type="checkbox" id="chkAddAll" />
                </th>
                <th class="txtAlign">
                    Is Edit Permitted
                    <input type="checkbox" id="chkEditAll" />
                </th>
                <th class="txtAlign">
                    Is Delete Permitted
                    <input type="checkbox" id="chkDeleteAll" />
                </th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.MenuPermissionDetails.Count; i++)
            {
                <tr>
                    <th scope="row">@(i + 1)</th>
                    <td style="font-weight:bold">@Html.DisplayFor(model => Model.MenuPermissionDetails[i].MenuName)@Html.HiddenFor(model => Model.MenuPermissionDetails[i].MenuName)</td>
                    <td class="txtAlign">@Html.CheckBoxFor(model => Model.MenuPermissionDetails[i].IsViewPermit, new { @class = "chkViewPermission" })</td>
                    <td class="txtAlign">@Html.CheckBoxFor(model => Model.MenuPermissionDetails[i].IsAddPermit, new { @class = "chkAddPermission" })</td>
                    <td class="txtAlign">@Html.CheckBoxFor(model => Model.MenuPermissionDetails[i].IsEditPermit, new { @class = "chkEditPermission" })</td>
                    <td class="txtAlign">@Html.CheckBoxFor(model => Model.MenuPermissionDetails[i].IsDeletePermit, new { @class = "chkDeletePermission" })</td>
                </tr>
            }
        </tbody>
    </table>


</div>


<script type="text/javascript">
    $(document).ready(function () {

        $("#chkViewAll").change(function () {
            var status = $(this).is(":checked") ? true : false;
            $(".chkViewPermission").prop("checked", status);
        });
        $("#chkAddAll").change(function () {
            var status = $(this).is(":checked") ? true : false;
            $(".chkAddPermission").prop("checked", status);
        });
        $("#chkEditAll").change(function () {
            var status = $(this).is(":checked") ? true : false;
            $(".chkEditPermission").prop("checked", status);
        });
        $("#chkDeleteAll").change(function () {
            var status = $(this).is(":checked") ? true : false;
            $(".chkDeletePermission").prop("checked", status);
        });

    });


</script>
