<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Dashboard | XMAX - Admin Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="XMAX admin dashboard" name="description" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/Content/assets/images/favicon.ico">
    @Styles.Render("~/Content/adminCss")
    @Styles.Render("~/Content/dataTableCss")

</head>

<body data-sidebar="dark">

    <!-- Begin page -->
    <div id="layout-wrapper">
        @Html.Partial("_sideBar")
        @Html.Partial("_topBar")

        <!-- ========== Left Sidebar Start ========== -->
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div id="mainContainer">
                    @RenderBody()
                </div>
            </div>
            <!-- End Page-content -->


            @Html.Partial("_footer")
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->
    <!-- Right Sidebar -->
    <!-- /Right-bar -->
    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

    <!-- JAVASCRIPT -->
    @Scripts.Render("~/bundles/adminjs")
    <script src="https://unicons.iconscout.com/release/v2.0.1/script/monochrome/bundle.js"></script>
    @Scripts.Render("~/bundles/adminjs2")
    @Scripts.Render("~/bundles/dataTablejs")
    @RenderSection("scripts", required: false)

<script type="text/javascript">

        $(document).ready(function () {
            $(".deleteItem").click(function (e) {
            var url = $(this).attr('deleteTag');

            var appUrl = '@System.Configuration.ConfigurationManager.AppSettings["baseurl"]';

            alertify.confirm("সতর্কীকরণ!", "আপনি কি এই আইটেমটি মুছে ফেলার বিষয়ে নিশ্চিত?",
                function () {
                    window.location.href = appUrl + url;
                },
                function () {
                    alertify.error('বাতিল হয়েছে!');
                }).set('labels', { ok: 'সঠিক', cancel: 'বাতিল' });
            });



            if (document.getElementById("divmenues") == null) {

                $('#divManueSeter').html('<div style="padding:20px;padding-top:150px; color:#ffffff; font-weight:bold">Menu Loading...</div>');
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetMenuSessionReady", "Account")',
                    dataType: 'html',
                    data: {},
                    success: function (result) {
                        $('#divManueSeter').html(result);
                        SETMENUEINTOSESSION(result);
                    },
                    error: function (ex) {

                    }
                });
            }


            function SETMENUEINTOSESSION(resulthtml) {

                var menuList = JSON.stringify({ 'menu': resulthtml });
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetMenuSessionReady", "Account")',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: menuList,
                    success: function (result) {
                        debugger;
                        if (result.success) {
                            // alert(result.responseText);
                            location.reload();
                        } else {

                            //alert(result.responseText);
                        }
                    },
                    error: function (xhr, status, error) {
                        console.log(" xhr.responseText: " + xhr.responseText + " //status: " + status + " //Error: " + error);
                        alert(" xhr.responseText: " + xhr.responseText + " //status: " + status + " //Error: " + error);
                    }
                });
            }

        });



        $(function () {

            // Selection

            var urlString = window.location.toString();
            var hasValue = urlString.substr(0, urlString.indexOf("/Create"));
            if (hasValue.length < 1) {
                hasValue = urlString.substr(0, urlString.indexOf("/Edit"));
            }
            if (hasValue.length < 1) {
                hasValue = urlString.substr(0, urlString.indexOf("/View"));
            }
            if (hasValue.length < 1) {
                hasValue = urlString.substr(0, urlString.indexOf("/ProfileView"));
            }
            if (hasValue.length < 1) {
                hasValue = urlString.substr(0, urlString.indexOf("?"));
            }
            if (hasValue.length > 0) {
                urlString = hasValue;
            }
            var menuItem = $('#sidebar-menu ul li a').filter(function () {
                return this.href == urlString;
            })

            menuItem.parent('li').addClass('mm-active').parent('ul').addClass('mm-show');
            menuItem.parent('li').parent('ul').prev().addClass('mm-active');
            menuItem.addClass('active');


            //alertify active
            var saveMsg = '@TempData["save"]';
            var updateMsg = '@TempData["update"]';
            var deleteMsg = '@TempData["delete"]';
            var customMsg = '@TempData["custom"]';
            var warningMsg = '@TempData["warning"]';
            var successMsg = '@TempData["success"]';

            if (saveMsg != '') {
                alertify.success('তথ্য সংরক্ষণ সফল হয়েছে!');
            }

            if (updateMsg != '') {
                alertify.success('তথ্য হালনাগাদ সফল হয়েছে!');
            }

            if (deleteMsg != '') {
                alertify.success('তথ্য মুছা সফল হয়েছে!');
            }

            if (customMsg != '') {
                alertify.error(customMsg);
            }

            if (warningMsg != '') {
                alertify.message(warningMsg);
            }
            if (successMsg != '') {
                alertify.success(successMsg);
            }

            //activate avro for input field contains class
            $('input.bangla, input.bangla[type=text]').avro();
            $('textarea.bangla, input.bangla[type=text]').avro();

        });

</script>
</body>
</html>
