<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>ড্যাশবোর্ড | UPTax - এডমিন ড্যাশবোর্ড</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="XMAX admin dashboard" name="description" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/Content/assets/images/favicon.ico">
    @Styles.Render("~/Content/adminCss")
    @Styles.Render("~/Content/dataTableCss")
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <style>
        .main-content {
            margin-left: 0px;
        }

        .page-content {
            padding: 0;
        }
    </style>
</head>

<body data-sidebar="dark">

    <!-- Begin page -->
    <div id="layout-wrapper">

        <!-- ========== Left Sidebar Start ========== -->
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div id="mainContainer">
                    @RenderBody()
                </div>
            </div>
            <!-- End Page-content -->
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->
    <!-- Right Sidebar -->
    <!-- /Right-bar -->
    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

    <!-- JAVASCRIPT -->
    @Scripts.Render("~/bundles/adminjs")
    <script src="https://unicons.iconscout.com/release/v2.0.1/script/monochrome/bundle.js"></script>
    @Scripts.Render("~/bundles/adminjs2")
    @Scripts.Render("~/bundles/dataTablejs")
    @RenderSection("scripts", required: false)
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/assets/js/avro-v1.1.4.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $(".deleteItem").click(function (e) {
                var url = $(this).attr('deleteTag');

                var appUrl = '@System.Configuration.ConfigurationManager.AppSettings["baseurl"]';

                alertify.confirm("সতর্কীকরণ!", "আপনি কি এই আইটেমটি মুছে ফেলার বিষয়ে নিশ্চিত?",
                    function () {
                        window.location.href = appUrl + url;
                    },
                    function () {
                        alertify.error('বাতিল হয়েছে!');
                    }).set('labels', { ok: 'সঠিক', cancel: 'বাতিল' });
            });



        });

    </script>
</body>
</html>
