@using UPTax.Helper;
<header id="page-topbar">
    <div class="navbar-header">
        <div class="d-flex">
            <!-- LOGO -->
            <div class="navbar-brand-box">
                <a href="@Url.Action("Index","Dashboard")" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="~/Content/assets/images/bduptax_logo.png" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="~/Content/assets/images/bduptax_logo.png" alt="" height="20">
                    </span>
                </a>

                <a href="@Url.Action("Index", "Dashboard")" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="~/Content/assets/images/bduptax_logo.png" alt="" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="~/Content/assets/images/bduptax_logo.png" alt="" height="20">
                    </span>
                </a>
            </div>

            <button type="button" class="btn btn-sm px-3 font-size-24 header-item waves-effect" id="vertical-menu-btn">
                <i class="mdi mdi-backburger"></i>
            </button>

        </div>
        @if (!string.IsNullOrEmpty(RapidSession.Notice))
        {
            <div style="width: 60%; color: red;">
                    <marquee vspace="2%" width="100%" direction="left" height="100%">
                        @RapidSession.Notice
                    </marquee>
            </div>
        }

        <div class="d-flex">

            <div class="dropdown d-inline-block">
                <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="rounded-circle header-profile-user" src="~/Content/assets/images/users/avatar-1.jpg" alt="Header Avatar">
                    <span class="d-none d-sm-inline-block ml-1">@UPTax.Helper.RapidSession.UserFullName</span>
                    <i class="mdi mdi-chevron-down d-none d-sm-inline-block"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <!-- item-->
                    <a class="dropdown-item" href="@Url.Action("MyProfile", "User")"><i class="mdi mdi-face-profile font-size-16 align-middle mr-1"></i> আমার প্রোফাইল</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="@Url.Action("LogOff", "Account")"><i class="mdi mdi-logout font-size-16 align-middle mr-1"></i> লগ আউট</a>
                </div>
            </div>

        </div>
    </div>

</header>