@model UPTax.Model.ViewModels.VMDashboard
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Page-Title -->
<div class="page-title-box">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-8">
                <h4 class="page-title mb-1">Dashboard</h4>
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item active">Welcome to UPTax Dashboard</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<!-- end page title end breadcrumb -->
<div class="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="header-title mb-4">মোট খানা প্রধানের সংখ্যা</h5>
                        <div class="media">
                            <div class="media-body">
                                <h4><i class="fas fa-users"></i> @Model.TotalNoOfHouseOwner</h4>
                            </div>
                        </div>
                        <div class="">
                            <a href="#" class="btn btn-primary btn-sm">View more <i class="mdi mdi-arrow-right ml-1"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="header-title mb-4">মোট সংগ্রহ</h5>
                        <div class="media">
                            <div class="media-body">
                                <h4><i class="fas fa-hand-holding-usd"></i> @Model.TotalCollection</h4>
                            </div>
                        </div>
                        <div class="">
                            <a href="#" class="btn btn-primary btn-sm">View more <i class="mdi mdi-arrow-right ml-1"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="header-title mb-4">মোট বাকি/বকেয়া</h5>
                        <div class="media">
                            <div class="media-body">
                                <h4><i class="fas fa-hand-holding-usd"></i> @Model.TotalDue</h4>
                            </div>
                        </div>
                        <div class="">
                            <a href="#" class="btn btn-primary btn-sm">View more <i class="mdi mdi-arrow-right ml-1"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="header-title mb-4">মোট ছেলের সংখ্যা</h5>
                        <div class="media">
                            <div class="media-body">
                                <h4>
                                    <i class="fa fa-male" aria-hidden="true"></i>
                                    @Model.TotalBoys
                                </h4>
                            </div>
                        </div>
                        <div class="">
                            <a href="#" class="btn btn-primary btn-sm">View more <i class="mdi mdi-arrow-right ml-1"></i></a>
                        </div>
                    </div>
                </div>
            </div>           
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="header-title mb-4">মোট মেয়ের সংখ্যা</h5>
                        <div class="media">
                            <div class="media-body">
                                <h4>
                                    <i class="fa fa-female" aria-hidden="true"></i>
                                    @Model.TotalGirls
                                </h4>
                            </div>
                        </div>
                        <div class="">
                            <a href="#" class="btn btn-primary btn-sm">View more <i class="mdi mdi-arrow-right ml-1"></i></a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <!-- end row -->
    </div> <!-- container-fluid -->
</div>
<!-- end page-content-wrapper -->