@model UPTax.Model.ViewModels.VMTaxGenerator

@{
    ViewBag.Title = "সংরক্ষণ";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-title-box">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-8">
                <h4 class="page-title mb-1">সিঙ্গেল কর জেনারেটর</h4>
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item active">কর জেনারেট করুন</li>
                </ol>
            </div>
        </div>

    </div>
</div>

<div class="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">সিঙ্গেল কর জেনারেটর ফরম</h4>
                        <p class="card-title-desc"></p>
                        @using (Html.BeginForm("Index", "GenerateTaxInfo", FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate", @autocomplete = "off", @enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom03">@Html.DisplayNameFor(model => model.FinancialYearId)</label>

                                    @Html.DropDownList("FinancialYearId", null, String.Empty, new { @class = "selectize ddlErrorMsg validationCustom03", @id = "ddlFinancialYearId", @required = "required" })
                                    <div class="invalid-feedback">
                                        অর্থবছর দেয়া বাধ্যতামূলক!
                                    </div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom03">@Html.DisplayNameFor(model => model.HoldingNo) <span class="required">*</span></label>
                                    @Html.TextBoxFor(m => m.HoldingNo, new { @id = "validationCustom03", @class = "form-control", @placeholder = "হোল্ডিং নং", @maxLength = "250", @required = "required" })
                                    <div class="invalid-feedback">
                                        হোল্ডিং নং দেয়া বাধ্যতামূলক!
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <label for="">@Html.DisplayNameFor(model => model.YearlyTaxRate) <span class="required">*</span></label>
                                    @Html.TextBoxFor(m => m.YearlyTaxRate, new { @id = "txtYearlyTaxRate", @class = "form-control", @placeholder = "মুনাফার হার", @min = "0.5", @step = "0.1", @type = "number", @disabled = "disabled", @style = "opacity: 0.5" })
                                </div>
                            </div>
                            <button class="btn btn-info required-click" type="button">জেনারেট করুন</button>

                            <div class="row">
                                <div id="partialTax" class="col-md-12">
                                    <!-- partial tax view load here -->
                                </div>
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

    </div> <!-- container-fluid -->
</div>

@section Scripts {
    <script src="~/Content/assets/js/pages/form-click-validation.init.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#ddlCategoryId").change(function () {

                if ($("#ddlRoleId").val().length < 0 || $("#ddlRoleId").val().length == 0) {

                    //var $select = $('#ddlCategoryId');
                    //var control = $select[0].selectize;
                    //control.clear();
                    alert("Please select a role first!");
                    

                    return false;
                }
                if ($("#ddlCategoryId").val().length > 0) {
                    $.ajax({
                        type: 'Post',
                        url: '@Url.Action("GetMenuesForPermission")',
                        dataType: 'html',
                        data: { roleId: $("#ddlRoleId").val(), categoryId: $("#ddlCategoryId").val() },
                        success: function (result) {
                            $('#partialPermission').empty();
                            $('#partialPermission').html(result);
                        },
                        error: function (ex) {
                            $('html, body').animate({ scrollTop: 0 }, 'fast');
                        }
                    });
                }

                return false;
            });
        });
    </script>


}
