@model UPTax.Model.ViewModels.VMCommonParams

@{
    ViewBag.Title = "ফরমেট বিল প্রিন্ট";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    string dateFormat = UPTax.Helper.RapidSession.DateTimeFormat;
}

<div class="page-title-box">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-8">
                <h4 class="page-title mb-1">ফরমেট বিল প্রিন্ট</h4>
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item active">ফরমেট বিল প্রিন্ট করুন</li>
                </ol>
            </div>
        </div>

    </div>
</div>

<div class="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">ফরমেট বিল প্রিন্ট ফরম</h4>
                        <p class="card-title-desc"></p>
                        @using (Html.BeginForm("Index", "RPTFormatBillPrint", FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate", @enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="row">

                                <div class="col-md-6 mb-6">
                                    <div class="col-md-12 mb-3">
                                        <label for="validationCustom03">
                                            @Html.DisplayNameFor(model => model.HoldingNo) <span class="required">*</span>
                                        </label>
                                        @Html.TextBoxFor(m => m.HoldingNo, new { @id = "validationCustom03", @class = "form-control txtHolding", @placeholder = "হোল্ডিং নং", @maxLength = "250", @required = "required" })
                                        <div class="invalid-feedback">
                                            হোল্ডিং নং দেয়া বাধ্যতামূলক!
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-3">
                                        <label for="validationCustom03">
                                            @Html.DisplayNameFor(model => model.FinancialYearId)
                                        </label>

                                        @Html.DropDownList("FinancialYearId", null, String.Empty, new { @class = "selectize ddlErrorMsg validationCustom03", @id = "ddlFinancialYearId", @required = "required" })
                                        <div class="invalid-feedback">
                                            অর্থবছর দেয়া বাধ্যতামূলক!
                                        </div>
                                    </div>

                                    <div class="col-md-12 mb-3">
                                        <label for="validationCustom03">প্রিন্ট তারিখ <span class="required"></span></label>
                                        @if (Model != null)
                                        {
                                            @Html.TextBoxFor(model => model.PrintDate, Model.PrintDate.Value.ToString(dateFormat), new { @class = "form-control", @type = "text", @disabled = "disabled" })
                                        }
                                        else
                                        {

                                            @Html.TextBoxFor(model => model.PrintDate, "", new { @class = "form-control", @type = "text", @disabled = "disabled" })
                                        }
                                    </div>
                                    <div class="col-md-12 mb-3">
                                        <label for="validationCustom03">জমার শেষ তারিখ <span class="required"></span></label>
                                        @if (Model != null)
                                        {
                                            @Html.TextBoxFor(model => model.LastInstallmentDate, Model.LastInstallmentDate.Value.ToString(dateFormat), new { @class = "datepickerUI form-control", @type = "text", @required = "required", @data_range = "false" })
                                        }
                                        else
                                        {

                                            @Html.TextBoxFor(model => model.LastInstallmentDate, "", new { @class = "datepickerUI form-control", @type = "text", @required = "required", @data_range = "false" })
                                        }
                                    </div>

                                    <button formtarget="_blank" class="btn btn-info" id="generateTax" type="submit">প্রিন্ট করুন</button>

                                </div>

                            </div>


                            <div class="row">

                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

    </div> <!-- container-fluid -->
</div>

@section Scripts {
    <script src="~/Content/assets/js/pages/form-click-validation.init.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>


}
