@model UPTax.Model.Models.HouseOwner
@using UPTax.Model.Models

@{
    ViewBag.Title = "সংরক্ষণ";
    var title = "খানার প্রধান";

    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    List<Gender> genders = ViewBag.Genders == null ? new List<Gender>() : ViewBag.Genders;
    List<Religion> religions = ViewBag.Religions == null ? new List<Religion>() : ViewBag.Religions;
}

<div class="page-title-box">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-8">
                <h4 class="page-title mb-1">@title</h4>
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index")">অপারেট করুন</a></li>
                    <li class="breadcrumb-item active">@title যোগ করুন</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="float-right ml-2">
                            <a class="btn btn-sm btn-warning btn-flat margin" href="@Url.Action("Index")">তালিকা দেখুন</a>
                        </div>
                        <h4 class="header-title">@title সংরক্ষণ ফরম</h4>
                        <p class="card-title-desc"></p>
                        @using (Html.BeginForm("Create", "HouseOwner", FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate", @autocomplete = "off", @enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom03">@Html.DisplayNameFor(model => model.HoldingNo) <span class="required">*</span></label>
                                    @Html.TextBoxFor(m => m.HoldingNo, new { @id = "validationCustom03", @class = "form-control required", @placeholder = "হোল্ডিং নং", @maxLength = "250", @required = "required" })
                                    <div class="invalid-feedback">
                                        হোল্ডিং নং দেয়া বাধ্যতামূলক!
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom03">@Html.DisplayNameFor(model => model.WardInfoId) <span class="required">*</span></label>
                                    @Html.DropDownList("WardInfoId", null, String.Empty, new { @class = "selectize ddlErrorMsg validationCustom03", @required = "required" })
                                    <div class="invalid-feedback">
                                        ওয়ার্ড দেয়া বাধ্যতামূলক!
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom03">@Html.DisplayNameFor(model => model.VillageInfoId) <span class="required">*</span></label>
                                    @Html.DropDownList("VillageInfoId", null, String.Empty, new { @class = "selectize ddlErrorMsg validationCustom03", @required = "required" })
                                    <div class="invalid-feedback">
                                        গ্রাম দেয়া বাধ্যতামূলক!
                                    </div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom03">@Html.DisplayNameFor(model => model.OwnerNameInBangla) <span class="required">*</span></label>
                                    @Html.TextBoxFor(m => m.OwnerNameInBangla, new { @id = "validationCustom03", @class = "form-control bangla required", @placeholder = "নাম (বাংলা)", @maxLength = "250", @required = "required" })
                                    <div class="invalid-feedback">
                                        খানা প্রধানের নাম দেয়া বাধ্যতামূলক!
                                    </div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom03">@Html.DisplayNameFor(model => model.OwnerNameInEnglish) <span class="required">*</span></label>
                                    @Html.TextBoxFor(m => m.OwnerNameInEnglish, new { @id = "validationCustom03", @class = "form-control bangla required", @placeholder = "নাম (ইংরেজিতে)", @maxLength = "250", @required = "required" })
                                    <div class="invalid-feedback">
                                        নাম (ইংরেজিতে) দেয়া বাধ্যতামূলক!
                                    </div>
                                </div>


                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom03">@Html.DisplayNameFor(model => model.YearlyIncome) <span class="required">*</span></label>
                                    @Html.TextBoxFor(m => m.YearlyIncome, new { @id = "validationCustom03", @class = "form-control bangla required", @placeholder = "বাৎসরিক গড় আয়", @required = "required" })
                                    <div class="invalid-feedback">
                                        বাৎসরিক গড় আয় দেয়া বাধ্যতামূলক!
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom03">@Html.DisplayNameFor(model => model.MobileNo) <span class="required">*</span></label>
                                    @Html.TextBoxFor(m => m.MobileNo, new { @id = "validationCustom03", @class = "form-control bangla required", @placeholder = "মোবাইল নাম্বার", @required = "required" })
                                    <div class="invalid-feedback">
                                        মোবাইল নাম্বার দেয়া বাধ্যতামূলক!
                                    </div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom03">@Html.DisplayNameFor(model => model.EducationInfoId)</label>
                                    @Html.DropDownList("EducationInfoId", null, String.Empty, new { @class = "selectize ddlErrorMsg validationCustom03" })
                                    <div class="invalid-feedback">
                                        শিক্ষাগত যোগ্যতা দেয়া বাধ্যতামূলক!
                                    </div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom03">@Html.DisplayNameFor(model => model.ProfessionId)</label>
                                    @Html.DropDownList("ProfessionId", null, String.Empty, new { @class = "selectize ddlErrorMsg validationCustom03" })
                                    <div class="invalid-feedback">
                                        পেশা দেয়া বাধ্যতামূলক!
                                    </div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom03">@Html.DisplayNameFor(model => model.FatherHusbandName)</label>
                                    @Html.TextBoxFor(m => m.FatherHusbandName, new { @id = "validationCustom03", @class = "form-control bangla", @placeholder = "পিতা/স্বামীর নাম" })
                                    <div class="invalid-feedback">
                                        পিতা/স্বামীর নাম দেয়া বাধ্যতামূলক!
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom03">@Html.DisplayNameFor(model => model.MotherName)</label>
                                    @Html.TextBoxFor(m => m.MotherName, new { @id = "validationCustom03", @class = "form-control bangla", @placeholder = "মাতার নাম" })
                                    <div class="invalid-feedback">
                                        মাতার নাম দেয়া বাধ্যতামূলক!
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom03">@Html.DisplayNameFor(model => model.InfrastructureTypeId) <span class="required">*</span></label>
                                    @Html.DropDownList("InfrastructureTypeId", null, String.Empty, new { @class = "selectize ddlErrorMsg validationCustom03", @required = "required" })
                                    <div class="invalid-feedback">
                                        অবকাঠামো ধরণ দেয়া বাধ্যতামূলক!
                                    </div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom03">@Html.DisplayNameFor(model => model.DateOfBirth) <span class="required">*</span></label>

                                    <input type="text" id="validationCustom03" name="DateOfBirth" class="form-control datepicker-here required" data-range="true" data-multiple-dates-separator=" - " data-language="en" placeholder="জন্ম তারিখ" , required="required" />
                                    <div class="invalid-feedback">
                                        জন্ম তারিখ দেয়া বাধ্যতামূলক!
                                    </div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom03">@Html.DisplayNameFor(model => model.BirthRegistrationNumber)</label>
                                    @Html.TextBoxFor(m => m.BirthRegistrationNumber, new { @id = "validationCustom03", @class = "form-control bangla", @placeholder = "জন্ম নিবন্ধন নাম্বার" })
                                    <div class="invalid-feedback">
                                        জন্ম নিবন্ধন নাম্বার দেয়া বাধ্যতামূলক!
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom03">@Html.DisplayNameFor(model => model.NIDNumber) <span class="required">*</span></label>
                                    @Html.TextBoxFor(m => m.NIDNumber, new { @id = "validationCustom03", @class = "form-control bangla required", @placeholder = "এনআইডি নাম্বার", @required = "required" })
                                    <div class="invalid-feedback">
                                        এনআইডি নাম্বার দেয়া বাধ্যতামূলক!
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom03">@Html.DisplayNameFor(model => model.GenderId) <span class="required">*</span></label><br />

                                    @for (int i = 0; i < genders.Count; i++)
                                    {
                                        if (i == 0)
                                        {
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="GenderId" id="inlineRadio" +i value="@genders[i].Id" checked>
                                                <label class="form-check-label" for="inlineRadio" +i>@genders[i].Name</label>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="GenderId" id="inlineRadio" +i value="@genders[i].Id">
                                                <label class="form-check-label" for="inlineRadio" +i>@genders[i].Name</label>
                                            </div>
                                        }
                                    }
                                    
                              
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom03">@Html.DisplayNameFor(model => model.ReligionId) <span class="required">*</span></label><br />
                                    @for (int i = 0; i < religions.Count; i++)
                                    {
                                        if (i == 0)
                                        {
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="ReligionId" id="inlineRadio" +i value="@religions[i].Id" checked>
                                                <label class="form-check-label" for="inlineRadio" +i>@religions[i].Name</label>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="ReligionId" id="inlineRadio" +i value="@religions[i].Id">
                                                <label class="form-check-label" for="inlineRadio" +i>@religions[i].Name</label>
                                            </div>
                                        }
                                    }
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom03">@Html.DisplayNameFor(model => model.IsTubeWell) <span class="required">*</span></label><br />
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="IsTubeWell" id="inlineRadioYes" value="true" checked>
                                        <label class="form-check-label" for="inlineRadioYes">হ্যাঁ</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="IsTubeWell" id="inlineRadioNo" value="false">
                                        <label class="form-check-label" for="inlineRadioNo">না</label>
                                    </div>

                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom03">@Html.DisplayNameFor(model => model.Sanitary) <span class="required">*</span></label>
                                   
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="Sanitary" id="inlineRadioYesBuilding" value="পাকা পায়খানা">
                                        <label class="form-check-label" for="inlineRadioYesBuilding">পাকা পায়খানা</label>
                                    </div> 
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="Sanitary" id="inlineRadioYes" value="কাঁচা পায়খানা" checked>
                                        <label class="form-check-label" for="inlineRadioYes">কাঁচা পায়খানা</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="Sanitary" id="inlineRadio" value="নাই">
                                        <label class="form-check-label" for="inlineRadioNo">নাই</label>
                                    </div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom03">@Html.DisplayNameFor(model => model.InfrastructureTypeId) <span class="required">*</span></label>
                                    @Html.TextBoxFor(m => m.InfrastructureType, new { @id = "validationCustom03", @class = "form-control bangla required", @placeholder = "অবকাঠামো ধরণ", @required = "required" })
                                    <div class="invalid-feedback">
                                        অবকাঠামো ধরণ দেয়া বাধ্যতামূলক!
                                    </div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom03">@Html.DisplayNameFor(model => model.LivingType) <span class="required">*</span></label><br />

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="LivingType" id="inlineRadioSelfLiving" value="নিজে বসবাস">
                                        <label class="form-check-label" for="inlineRadioSelfLiving">নিজে বসবাস</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="LivingType" id="inlineRadioRentLiving" value="ভাড়া দেওয়া" checked>
                                        <label class="form-check-label" for="inlineRadioRentLiving">ভাড়া দেওয়া</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="LivingType" id="inlineRadioBoth" value="উভয়">
                                        <label class="form-check-label" for="inlineRadioBoth">উভয়</label>
                                    </div>

                                </div>

                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom03">@Html.DisplayNameFor(model => model.YearlyRentAmount)</label>
                                    @Html.TextBoxFor(m => m.YearlyRentAmount, new { @id = "validationCustom03", @class = "form-control bangla", @placeholder = "বাৎসরিক ভাড়া" })
                                    <div class="invalid-feedback">
                                        বাৎসরিক ভাড়া দেয়া বাধ্যতামূলক!
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom03">@Html.DisplayNameFor(model => model.YearlyLoanAmount)</label>
                                    @Html.TextBoxFor(m => m.YearlyLoanAmount, new { @id = "validationCustom03", @class = "form-control bangla", @placeholder = "ঋনের বার্ষিক সুদ" })
                                    <div class="invalid-feedback">
                                        ঋনের বার্ষিক সুদ দেয়া বাধ্যতামূলক!
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom03">@Html.DisplayNameFor(model => model.PreviousDueAmount)</label>
                                    @Html.TextBoxFor(m => m.PreviousDueAmount, new { @id = "validationCustom03", @class = "form-control bangla", @placeholder = "পূর্বের বকেয়া" })
                                    <div class="invalid-feedback">
                                        পূর্বের বকেয়া দেয়া বাধ্যতামূলক!
                                    </div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom03">@Html.DisplayNameFor(model => model.SocialBenefitBeforeId)</label>
                                    @Html.DropDownList("SocialBenefitBeforeId", null, String.Empty, new { @class = "selectize ddlErrorMsg validationCustom03" })
                                    <div class="invalid-feedback">
                                        সামাজিক সুরক্ষা সুবিধা দেয়া বাধ্যতামূলক!
                                    </div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom03">@Html.DisplayNameFor(model => model.SocialBenefitEligibleId)</label>
                                    @Html.DropDownList("SocialBenefitEligibleId", null, String.Empty, new { @class = "selectize ddlErrorMsg validationCustom03" })
                                    <div class="invalid-feedback">
                                        সামাজিক সুরক্ষা সুবিধা দেয়া বাধ্যতামূলক!
                                    </div>
                                </div>

                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom03">@Html.DisplayNameFor(model => model.SocialBenefitRunningId)</label>
                                    @Html.DropDownList("SocialBenefitRunningId", null, String.Empty, new { @class = "selectize ddlErrorMsg validationCustom03" })
                                    <div class="invalid-feedback">
                                        সামাজিক সুরক্ষা সুবিধা দেয়া বাধ্যতামূলক!
                                    </div>
                                </div>
                            </div>

                            <button class="btn btn-primary" type="submit">সংরক্ষণ করুন</button>
                        }
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

    </div> <!-- container-fluid -->
</div>

@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
}
